.post-row {
    margin-top: 2em;
}

.title {
    font-size: 30px;
    margin-bottom: 0.3em;
}

.btn {
    padding: 1px 6px 1px 6px;
    font-size: 15px;
}

.mypage-footer {
    margin: 5em 0 3em 0;
}

